
* {

  margin: 0;
  padding: 0;
   
}

  #root {
/* display: flex; */
/* justify-content: space-around; */

} 


.app {
 
  overflow:hidden;
   /* align-content: center; */
   /* justify-items: center; */

}

/* .post {

}   */