@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    display: flex;
  justify-content: space-around;
    /* align-items: center; */
    /* margin-top: 3% ; */
    max-width: 1280px;
      margin: 3% 0 0 3%;
      padding: 0% 2%;

}

.div2{
    flex:10%;
   display: flex;
   font-family: Playfair Display SC;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 32px;
 
   color: #121212;
   padding: 0 1% 0 3%;

}
.div3{
    flex:10%;
    display: flex;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
 
    color: #121212;
    align-items: flex-end;

}
a {
    text-decoration: none;
}
.div4{
    flex:10%;

    display: flex;
      align-items: flex-end;
      justify-content: flex-end;


}

/* ---------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        /* max-width: 870px; */
    }
}
@media (min-width: 361px) and (max-width: 767px) {
      .container {
          min-width: 360px;
          flex-direction: column;
          align-items: center;
      }

      .div4 {
          justify-content: flex-start;
      }
}
@media (max-width:360px) {
    .container {
        /* max-width: 360px; */
        flex-direction: column;
        align-items: center;
    }
    .div4{
      justify-content: flex-start;
    }
}