@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 8fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "div1 div2 div3 div4 div5";
    width: 1280px;
    height: 24px;
    background-color: #121212;
    color: #FFFFFF;

    /* align-content: center; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* justify-items: center; */
   

    font-family: Spartan;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;


}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;

}