@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.top_bar {
    display: flex;
    /* width: 1280px; */
    align-content: center;
    padding-left: 85px;
    padding-right: 85px;
    height: 24px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: black!important;
    font-family: Spartan;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    opacity: 0.8;
    justify-content: space-evenly;
    align-items: center;
}
.top_bar_1{
flex:2;
  font-weight: 500;
}
.top_bar_1 img { 
    padding-right: 10px;
}
.top_bar_2 {
    flex:2;
}
.top_bar_2 img {
    padding-right: 10px;
}
.top_bar_3 {
    flex:6;
    font-weight: 500;
}
.top_bar_3 img {
    padding-right: 10px;
}
.top_bar_4 {
    flex:1;
}
.top_bar_4 img {

    padding-right: 10px;
    position: relative;
    left: 30px;
  
}