@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    height: 24px;
    background-color: #121212;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;

}

.div1 {
   display: flex;
}

.div2 {
   display: flex;
}

.div3 {
   display: flex;
}

.div4 
{display: flex;
}

.div5 {
display: flex;
/* flex-basis: 20%; */
}

.div1 img{

   
}

.div2 img{
   margin-right: 5px;
}

.div3 img{
    margin-right: 5px;
}


.div5 img {
    margin-right: 5px;

}
.box_1{
    display: flex;
    align-items: center;
    }
.box_2{
    display: flex;
   
    
}
.containerLink{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 2%;
}
.menu_item{
    display: flex;
font-family: Spartan;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #121212;
 text-decoration: none;
 margin-right: 8%;
 white-space:  nowrap;

}
.header_logo{
    display: flex;
   /* flex: 1; */
   font-family: Playfair Display SC;
   font-style: normal;
   font-weight: normal;
   font-size: 24px !important;
   line-height: 32px !important;
   text-decoration: none;
   color: #121212;
   padding-right: 40px;
}
