main {
    margin: 85px;  overflow:hidden;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(110 1fr);
    grid-template-rows: repeat(50 1fr);
    gap: 0px 0px;
    align-content: center;
    justify-items: stretch;
    width: 1080px;
    height: 590px;
    justify-items: stretch;
    align-items:stretch;
  

}

.div1 {
    grid-area: 1 / 1 / 54 / 49;
    /* width: 540px;
    height: 490px; */

}

.div2 {
    grid-area: 1 / 42 / 20 / 75;
    /* width: 255px;
    height: 200px; */
    /* margin-left: 50px; */
}

.div3 {
    grid-area: 1 / 79 / 9 / 107;
    /* width: 255px;
     height: 200px; */
    /* margin-left : 40px; */
}

.div4 {
    grid-area: 11 / 42 / 54 / 107;
    /* width: 540px;
    height: 260px; */
    margin-left: 0px;
    margin-top: -5px;
}

.div5 {
    grid-area: 8 / 13 / 15 / 22;
    width: 289px;
    /* height: 100px;  */
    /* margin-left: 50px; */
    /* margin-top: 70px; */


    background: #FFFFFF;
    border-radius: 4px;
}

.div6 {
    grid-area: 9 / 2 / 12 / 4;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
}

.div7 {
    grid-area: 9 / 32 / 12 / 34;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    
    border-radius: 50%;
}

.div8 {
    grid-area: 4 / 51/ 5 / 66;
    background: #FFFFFF;
    border-radius: 4px;
    height: 48px;
    /* width: 118px;  */
    padding-top: 15px;

}

.div9 {
    grid-area: 4 / 86 / 5 / 102;
    background: #FFFFFF;
    border-radius: 4px;
    /* height: 48px;
     width:  118px; */
     padding-top: 15px;
}

.div10 {
    grid-area: 30 / 67 / 33 / 89;
    background: #FFFFFF;
    border-radius: 4px;
    /* width: 166px; */
    height: 48px;
     padding-top: 15px;
    
}

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bannerBig {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;

    letter-spacing: 0.06em;
    text-transform: uppercase;
   
    color: #121212;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.bannerBig2 {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.imgLR{
    padding-top: 11px;
    padding-left:  11px;
   height: 2em;
   
}





/* 




.div1 {
    grid-area: 2 / 2 / 20 / 18;
    margin-left: 30px;
}

.div2 {
    grid-area: 2 / 19 / 10 / 28;
    margin-left: 30px;
}

.div3 {
    grid-area: 2 / 29 / 10 / 38;
    margin-left: -20px;

}

.div4 {
    grid-area: 11 / 19 / 20 / 38;
    margin-left: 30px;
    margin-top: 53px;
}

.div5 {
    grid-area: 10 / 5 / 13 / 15;
    width: 289px;
    height: 100px;
    margin-left: 50px;
    margin-top: 70px;


    background: #FFFFFF;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    align-items:center;
     justify-content:center;
}



.div6 {
    grid-area: 10 / 2 / 13 / 4;
    width: 40px;
    height: 40px;
    background: #7f1919;
    border-radius: 50%;
}

.div7 {
    grid-area: 10 / 16 / 13 / 18;
       width: 40px;
       height: 40px;
       background: #781e1e;
       border-radius: 50%;
}

.div8 {
    grid-area: 5 / 21 / 8 / 26;
     background: #FFFFFF;
     border-radius: 4px;
}

.div9 {
    grid-area: 5 / 31 / 8 / 36;
     background: #FFFFFF;
     border-radius: 4px;
}

.div10 {
    grid-area: 14 / 23 / 17 / 34;
     background: #FFFFFF;
     border-radius: 4px;
} */