@media (min-width: 768px) and (max-width: 979px) {
    .container {
        /* max-width: 870px; */
        flex-direction: column;
        align-items: center;
        
       

    }

    .div2 {
        padding: 0% 2% 3% 0%;
        margin: 3% 0%;
    }    .div2_1 {
        /* margin: 3% 0; */
           padding: 0% 2% 3% 0%;
           /* margin: 3% 2%; */
    }

    .textAfter {
        /* max-width: 870px; */
        flex-direction: column;
            align-items: center;
    }
    .imgBefore{
            align-items: center;
    }

}

@media (min-width: 401px) and (max-width: 767px) {
    .container {
        /* max-width: 620px;  */
        flex-direction: column;
        align-items: center;
        
    }

    .textAfter {
        /* max-width: 620px; */
        flex-direction: column;
        /* padding: 0% 5% 3% 0%;
        margin: 0% 5% 0 0; */
        justify-content: space-between;
        align-items: center;

    }

    .div2_1 {
        /* margin: 3% 0; */
           padding: 0% 2% 3% 0%;
           /* margin: 3% 2%; */
    }
    .div2{
          padding: 0% 2% 3% 0%;
          margin: 3% 0%;
    }
    .imgBefore{
            align-items: center;
    }
}

@media (max-width:400px) {
    .container {
        /* max-width: 440px; */
        min-width: 400px;
        flex-direction: column;
        margin: 0 -2%;
    }

    .div2_1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-width: 490px; */
        /* margin: 0 0% 0 50%; */
        /* padding: 3% 0% 3% 0%; */
        min-width: 400px;
        padding: 3% 2% 3% 0%;
        margin: 3% 2%;
    }
    .wom, .men{
        width: 400px;
        background-size: 100%;
        /* height: 50px; */
    }

    .textAfter {
        /* max-width: 360px; */
        flex-direction: column;
        padding: 3% 0% 3% 0%;

    }

    .div2 {
        max-width: 440px;
    }
}





/* -------------------------------------------------------- */









.container {
    display: flex;
    justify-content: center;
    margin: 3% 0 0 3%;
    padding: 0% 0.1%;
    max-width: 1280px;
    gap: 3%;
}

.div1 {
    flex: 50%;
    display: flex;
    max-width: 540px;
    background-image: url("./images/imgMain1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bannerDiv {
    display: flex;
    width: 540px;
    height: 490px;
    justify-content: space-around;
    align-items: center;


}

.div1_1,
.div1_2 {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    width: 289px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: space-evenly;

}

.p1 {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;

    opacity: 0.4;
    text-align: center;
    vertical-align: middle;
}


.p2 {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    text-align: center;
    vertical-align: middle;
}

.div2 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
}

.div2_1 {
    /* flex: auto; */
    display: flex;
    gap: 5%;
}

.wom,
.men {
    display: flex;
   min-width: 255px;
    min-height: 200px;
    justify-content: space-around;
    align-items: center;
}

.wom {
    background-image: url("./images/imgMain2.png");
    background-position: center;

}

.men {
    background-image: url("./images/imgMain3.png");
    background-position: center;
    /* margin-left: 5%; */
}

.bannerS {
    /* position: absolute; */
    display: flex;
    height: 48px;
    width: 118px;
    background-color: #FFFFFF;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;

}

.div2_2 {
    display: flex;
    background-image: url("./images/imgMain4.png");
    background-position: center;
    /* width: 540px; */
    height: 260px;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;

}

.p3 {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    /* display: flex; */
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* dark */

    color: #121212;
    text-align: center;
    vertical-align: middle;

}

.access {
    display: flex;
    width: 166px;
    height: 48px;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;

}

.textAfter {
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin: 3% auto;
    padding: 0% 3%;
    max-width: 1280px;


}

.imgBefore {
    display: flex;
    margin: 0 3% 0 3%;
    align-items: center;

}

.imgBefore img {
    /* margin-right: 10px; */

}

/* ------------------- */

.swiper {
    width: 100%; 
    height: 100%;
    

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-width: 540px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
