@media (min-width: 768px) and (max-width: 979px) {
    .container3 {
        max-width: 870px;
    }
        .div2 {
            flex-direction: column;
            align-items: center;
        }
}

@media (min-width: 450px) and (max-width: 767px) {
    .container3 {
        /* max-width: 620px; */
        flex-direction: column;
    }
    .div2{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:449px) {
    .container3 {
        /* max-width: 360px; */
        flex-direction: column;
    }
    .div2 {
        flex-direction: column;
        align-items: center;
    }
}

.container3{
    /* margin-top: 5%; */
    display: flex;
justify-content: center;
max-width: 1280px;
justify-content: space-around;
align-items: center;
   margin: 3% auto;
   padding: 0% 3%;

}
.div1{
    /* flex:1; */
   display: flex;
/* position: absolute; */
width: 134px;
height: 25px;
/* left: 85px;
top: 811px; */

font-family: Spartan;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 25px;
/* identical to box height */

align-items: center;
letter-spacing: 0.06em;
text-transform: uppercase;

/* dark */

color: #121212;
/* margin-right: 10%; */
width: 20%;

}
.div2{
   
    display: flex;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-align: right;
width: 60%;
justify-content: space-between;

}
.head{
 
   /* width: 134px; */
   /* height: 25px; */
  

   font-family: Spartan;
   font-style: normal;
   font-weight: 600;
   font-size: 22px;
   line-height: 25px;
   /* identical to box height */

   /* display: flex; */
   align-items: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   /* dark */

   color: #121212;
}
.div2 div{
   display: flex;
    /* height: 13px; */
    

    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;

    /* dark */

    color: #121212;
}