

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        flex-direction: column;
    }
    .linkGroup{
        margin: 0 auto;
        padding: 0 10%;
        width: fit-content;
    }
     .blockBlack {
         margin: 0% auto;
         padding: 0 2% 0 2%;
     }
     .footer{
        width: fit-content;
        margin: 0% auto;
     }
     .div3{
         padding: 2% -10% 0 15%;
        margin:  auto;
     }
}

@media (min-width: 401px) and (max-width: 767px) {
    .container {
        /* min-width: fit-content; */
        flex-direction: column;
    }
    .footer{
        height: 1300px;
        flex-direction: column;
    }
    .blockBlack{
        /* min-width: 400px; */
       /* flex-direction: column; */
       /* margin: 0% 0 0% 50%; */
       /* min-height: fit-content; */
    }
    .linkGroup{
        flex-direction: column;
        min-width: fit-content;
       align-items: flex-start
    }
    .div1{
  margin: 0% 0% 0% 15%;
    }
    .blockImg{
   margin: 0% 0% 0% 15%;
   justify-content: center;
    }
    .btn{
max-width: fit-content;
    }
    .blockBottom{
        display: flex;flex-direction: column;

        justify-content: center;
        align-items: center;
        padding: 2%;
        margin: 1%;
    }
   
}

@media (max-width:400px) {
  .container {
      /* max-width: 620px;  */
      flex-direction: column;
      align-items: center;

  }
    .footer {
        /* height: 1100px; */
        flex-direction: column;
    }
    .blockBlack{
        /* max-width: 400px; */
        /* flex-direction: column; */
        min-height: 62px;
       
    }

    .linkGroup {
        flex-direction: column;
        min-width: fit-content;
    
        white-space: nowrap;
        align-items: flex-start;
    }
       .btn {
           max-width: fit-content;
       }
       .blockBottom{
           flex-direction: column;
           align-items: center;
           min-width: fit-content;
       }
       .blockImg{
           flex-direction: column;
       }
       .blockImg  img{
           max-height: 20px;
           max-width: 20px;
       }
}

.containerBox{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.linkGroup{
    display: flex;
  justify-content: space-around;

max-width: 1280px !important;
margin: 0% auto;
padding: 0 2% ;

}
.div3 {
    /* max-width: 420px; */
    /* margin: 3% 15%; */
    line-height: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 3% 15% ;


}

.div3_4 {
    max-width: 420px;
    /* margin: 3% 15%; */
    line-height: 2;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 5%;


}


.footer{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
       /* min-height:500px; */

}
.blockBlack {
  
display: flex;
    /* height: 56px; */
    background: #121212;
    flex-direction: row;
    align-items: baseline;
   font-family: Spartan;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   justify-content: center;
color: #FFFFFF;
    /* max-width: 1280px !important; */
    padding: 1%;
    /* margin: 1% auto; */
}

.beInTouch {
    display: flex;
    color: #FFFFFF;
    max-width: 350px;
    white-space: nowrap;

}
.div1 {
    display: flex;

    color: #FFFFFF;
    align-items: baseline;
 white-space: nowrap;
 margin: 0 auto;
}

input {
    margin-left: 10%;
    width: 400px;
    height: 32px;
    background: #FFFFFF;
    opacity: 0.2;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.4;
    padding-left: 1%;
   margin-right: 1%;
}

.btn {
    display: flex;
    height: 32px;
    width: 120px !important;
    color: #FFFFFF;
    border: 1px solid white;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    
}
.blockImg{
    display: flex;
    margin-left: 5%;
    color:#FFFFFF;
    width: 100px;
    justify-content: flex-start;
}
.blockImg img{
    padding-left: 10%;
}
.div2{
margin-left: auto;
margin-top: 2%;
}
.upper{
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 10%;

}

.underline{
     text-decoration-line: underline;
     
}
.blockBottom
{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.blockImg2  {
   width: 400px;

}
.blockImg2 img{
    padding-left: 3%;
  
}
.linkUnder{
    text-decoration: none;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;

    color: #121212;

    opacity: 0.8;
    display: flex;
    /* flex-direction: column; */

}
.linkUnder_4 {
    text-decoration: none;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;

    color: #121212;

    opacity: 0.8;
    display: flex;
    flex-direction: column;
    
}
