@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
header {

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  text-align: center;
} */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: Spartan, sans-serif;
  font-size: 12px;
line-height: 22px;
font-weight: 500;
}
/* div{
  display: block;
} */

.CleverShop {

  /* position: absolute; */
  left: 6.64%;
  right: 81.64%;
  top: 22.73%;
  bottom: 28.79%;

  font-family: Playfair Display SC;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */


  /* dark */

  color: #121212;
}

.link {
  margin: 10px;
}