@media (min-width: 768px) and (max-width: 979px) {
    .container3 {
        max-width: 870px;
        /* flex-direction: column; */
    }

    .block {
        /* flex:0%; */
    }

    .blockItem {
        /* flex: 0; */
    }

}

@media (min-width: 450px) and (max-width: 767px) {
    .container3 {
        /* max-width: 620px; */
        /* flex-direction: column; */

    }

    .block {
        flex: 50%;
        flex-direction: column;
    }

    .blockItem {
        flex: 50%;
    }

    .divBlock {
        margin: 0 30%;
    }
}

@media (max-width:449px) {
    .container3 {
        /* max-width: 360px; */
        /* flex-direction: column; */
    }

    .block {
        /* flex: 40%; */
    }

    .blockItem {
        /* flex: 40%; */
    }

    .divBlock {
        margin: 0 30%;
    }


}


.container {
    display: flex;
    max-width: 1280px;
    /* height: 955px; */
    margin: 5% auto;
    padding: 0 3% 0 3%;
    justify-content: center;
    align-items: center;


}

.divBlock {

    display: flex;
    flex-wrap: wrap !important;
    align-content: space-around;
    justify-content: center;
    gap: 2em;


}

.block {
    /* flex: 25%; */
    /* width: 25%; */


}

.divItem {
    flex: auto;


}

.img {}

.item {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


}

.blockItem {
    max-width: 255px;
    margin-bottom: 7%;
}

.price {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #121212;

}

.itemRating {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2%;
}

.rating {
    display: flex;
}

.See {
    display: flex;
    text-align: center;
    margin: 50px;
    font-family: Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.06em;
    /* margin-right: 15%; */
    justify-content: center;

}

.menu_item {
    margin: 0% auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 5%;
    max-width: 1280px;
}

.link {
    /* margin: 1% auto; */
}

.title {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
}