.container {
    display: flex;
    /* width: 1180px; */
    /* height: 955px; */
    margin-top: 50px;
    margin-left: 4%;

}

.divBlock {

    display: flex;
    flex-wrap: wrap !important;
    align-content: space-around;


}

.block {
    flex: auto;
    width: 25%;


}

.divItem {
    flex: auto;


}

.img {}

.item {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


}

.blockItem {
    width: 255px;
    margin-bottom: 30px;
}

.price {
 font-family: Spartan;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 16px;
 color: #121212;
}

.itemRating {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
      margin-top: 2%;
}

.rating {
    display: flex;
}
.See{
    text-align: center;
    margin: 50px;
    font-family: Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.06em;
   justify-content: center;

}
.menu_item {
    margin-left: 4%;
    margin-top: 2%;
}

.link {
    margin-left: 0.2%;
    margin-right: 0.2%;
}
.title {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
}